* {
  font-family: 'Roboto Slab', serif; }

body {
  background: -webkit-linear-gradient(right, #34314c, #34314c 50%, #47b8e0 0%, #47b8e0 0%); }

.txt-span-color {
  color: #ffc952; }

.container {
  height: 100%; }

main {
  float: left;
  main .main-profile {
    margin-top: 50px; }
    main .main-profile .img-profile {
      width: 350px;
      height: 400px;
      margin: auto; }
      main .main-profile .img-profile #carouselExampleIndicators {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.651), 0 6px 20px 0 rgba(0, 0, 0, 0.7); }
        main .main-profile .img-profile #carouselExampleIndicators .carousel-inner .pic-1 {
          background-image: url("https://i.ytimg.com/vi/4cZ54UADiak/maxresdefault.jpg"); }
        main .main-profile .img-profile #carouselExampleIndicators .carousel-inner .pic-2 {
          background-image: url("https://img00.deviantart.net/04a9/i/2007/152/3/e/nature_bg_59_by_peace_of_art.jpg"); }
        main .main-profile .img-profile #carouselExampleIndicators .carousel-inner .pic-3 {
          background-image: url("https://pre00.deviantart.net/c60c/th/pre/i/2007/244/6/6/nature_bg_126_by_peace_of_art.jpg"); }
    main .main-profile .SecondJobName {
      position: relative;
      width: 50%;
      float: left;
      text-align: left; }
      main .main-profile .SecondJobName h2 {
        margin-left: 10px;
        font-size: 3rem; }
    main .main-profile .FirstJobName {
      position: relative;
      width: 50%;
      float: left;
      text-align: right;
      padding-right: 10px; }
      main .main-profile .FirstJobName h2 {
        font-size: 3rem; }
    main .main-profile .txt-annimation {
      padding: 60px;
      text-align: center; }
      main .main-profile .txt-annimation .quote {
        color: #ffffff;
        padding-left: 1.7%;
        text-align: left;
        font-size: 1.6rem; }
      main .main-profile .txt-annimation .NameOfProfiles {
        background: -webkit-linear-gradient(right, rgba(255, 201, 82, 0.3), rgba(255, 201, 82, 0.3) 50%, rgba(52, 49, 76, 0.4) 0%, rgba(52, 49, 76, 0.4) 0%);
        -moz-border-radius: 10px;
        /* for Firefox */
        -webkit-border-radius: 10px;
        /* for Webkit-Browsers */
        border-radius: 15px;
        /* regular */
        padding: 10px; }
        main .main-profile .txt-annimation .NameOfProfiles h2 {
          font-size: 3.0rem;
          color: #ffffff; }
        main .main-profile .txt-annimation .NameOfProfiles .FirstJobName h2 {
          font-size: 2.4rem; }
        main .main-profile .txt-annimation .NameOfProfiles .SecondJobName h2 {
          font-size: 2.4rem; }

aside {
  position: fixed;
  float: left;
  width: 4%;
  height: 100%;
  background-color: #34314c; }
  aside .icon-aside {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: fixed; }
  aside button {
    margin: 10%;
    color: black; }

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.all-hight-and-wedth, main .main-profile .img-profile #carouselExampleIndicators, main .main-profile .img-profile #carouselExampleIndicators .carousel-inner, main .main-profile .img-profile #carouselExampleIndicators .carousel-inner .pic-1, main .main-profile .img-profile #carouselExampleIndicators .carousel-inner .pic-2, main .main-profile .img-profile #carouselExampleIndicators .carousel-inner .pic-3 {
  height: 100%;
  width: 100%; }

@media (max-width: 576px) {
  aside {
    display: none; }

  main .main-profile {
    margin-top: 25px; }
    main .main-profile .img-profile {
      max-width: 208px;
      max-height: 300px; }
    main .main-profile .FirstJobName h2 {
      margin-right: 10px;
      font-size: 1.7rem; }
    main .main-profile .SecondJobName h2 {
      margin-right: 10px;
      font-size: 1.7rem; }
    main .main-profile .txt-annimation {
      left: 50%;
      padding: 15px;
      margin-top: 25px; }
      main .main-profile .txt-annimation .quote {
        font-size: 14px; }
      main .main-profile .txt-annimation .NameOfProfiles {
        min-width: 208px; }
        main .main-profile .txt-annimation .NameOfProfiles .FirstJobName {
          float: left; }
          main .main-profile .txt-annimation .NameOfProfiles .FirstJobName h2 {
            width: 100%;
            font-size: 1.3rem; }
        main .main-profile .txt-annimation .NameOfProfiles .SecondJobName {
          float: left; }
          main .main-profile .txt-annimation .NameOfProfiles .SecondJobName h2 {
            width: 100%;
            font-size: 1.3rem; } }
.font-chela {
  font-family: 'Chela One'; }

@media (min-width: 577px) and (max-width: 767px) {
  aside {
    display: none; }

  .main-profile .txt-annimation .quote {
    font-size: 22px; } }
@media (min-width: 768px) and (max-width: 991px) {
  aside {
    width: 4.5%; } }

/*# sourceMappingURL=main.css.map */
