$margin-top: 50px;
$main-color: #47b8e0;
$aside-color: #34314c;
$txt-span-color: #ffc952;
$txt-color: #f2f2f2;
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: $txt-color;
}

.txt-span-color{
    color:$txt-span-color;
}

.container{
    height: 100%;
}

main{
    float: left;
    width: 97%;
    height: 100%;
    left: 3%;
    position: absolute;
    background-color: $main-color;
    
    .main-profile{
        margin-left: auto;
        margin-right: auto;
        margin-top: $margin-top;
        .img-profile{    
            width: 350px;
            height: 400px;  
            margin: auto;
            img{
                width: 100%;
                height: 100%;
                border: 2px dashed $aside-color; 
                display: block;
            }
        }

        .txt-annimation{
            margin-top: $margin-top;
            text-align: center;

            p{
                font-size: 22px;
            }
        }
    }
}

aside{
    position: fixed;
    float: left;
    width: 3%;
    height: 100%;
    background-color: $aside-color;
    
    div{
        margin-top: $margin-top;
    }

    .icon-aside{
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        
        position: absolute;
    }
}

